/* ----- fonts ----- */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

/* ----- keyframes ----- */

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes falling {
  0% {
    transform: translateY(-80px);
    opacity: 0%;
  }

  50% {
    transform: translateY(-40px);
    opacity: 50%;
  }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes fadingMenu {
  from {
    opacity: 0%;
  }

  to {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes fallingMenu {
  0% {
    transform: translateY(0px);
    opacity: 20%;
  }

  50% {
    transform: translateY(175px);
    opacity: 50%;
  }

  100% {
    transform: translateY(462px);
    opacity: 100%;
  }
}

:root {
  --imperial-red: #e63946ff;
  --honeydew: #f1faeeff;
  --powder-blue: #a8dadcff;
  --celadon-blue: #457b9dff;
  --prussian-blue: #1d3557ff;
  --dark: #212529;
  --gray: #adb5bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

html {
  scroll-behavior: smooth;
}

body {
  background: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
main,
footer {
  background: var(--honeydew);
  max-width: 1280px;
  width: 100%;
}

/* ----- Header ----- */

.navbar {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  border-bottom-color: var(--gray);
  height: 7rem;
  padding: 0 1rem;
}

.logo {
  width: 100px;
}

.listContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

.listLinksMenu a:hover,
.listLinksMenu a:active {
  color: var(--gray);
  text-decoration: underline;
}

.burgerMenu {
  display: none;
}

#burgerMenu {
  display: none;
}

.menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.listLinksMenu {
  display: flex;
  list-style: none;
  max-width: 100%;
  width: 100%;
  height: 100%;
  gap: 1rem;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.listLinksMenu li {
  animation-name: falling;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.listLinksMenu li:first-child {
  animation-duration: 1s;
}

.listLinksMenu li:nth-child(2) {
  animation-duration: 1.3s;
}

.listLinksMenu li:nth-child(3) {
  animation-duration: 1.6s;
}

.listLinksMenu li:nth-child(4) {
  animation-duration: 1.9s;
}

.listLinksMenu li:nth-child(5) {
  animation-duration: 2.2s;
  display: flex;
  width: 40px;
  height: 40px;
}

.listLinksMenu a {
  text-decoration: none;
  color: var(--dark);
}

.searchBar {
  width: 297px;
  height: 55px;
  box-shadow: 0px 1px 6px 0px #0000001a;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 1s;
  border-radius: 16px;
}

.searchBar:hover,
.searchBar:has(input:focus-visible) {
  box-shadow: 0px 1px 6px 0px #0000008a;
}

.searchBar input {
  padding: 20px;
  font-size: 1rem;
  width: 80%;
  border: unset;
  height: 100%;
  border-radius: 16px;
  cursor: pointer;
}

.searchBar input:focus-visible {
  outline: 0;
  box-shadow: 0px 1px 6px 0px #0000006a;
}

.searchBar button {
  width: 20%;
  /* height: 100%; */
  border: unset;
  background-color: transparent;
  cursor: pointer;
}

.searchBar img {
  width: 25px;
}

.searchBar img,
.profileImg {
  filter: invert(84%) sepia(50%) saturate(7370%) hue-rotate(320deg)
    brightness(88%) contrast(108%);
}

.profileImg,
.blurProfileImg {
  width: 40px;
  position: absolute;
}

.profileImg {
  top: 0;
  left: 0;
}

.blurProfileImg {
  top: 2px;
  left: 2px;
  filter: invert(84%) sepia(50%) saturate(7370%) hue-rotate(320deg)
    brightness(88%) contrast(108%) blur(2px);
  z-index: -2;
}

.profileContainer {
  display: block;
  width: 100%;
  height: 100%;
}

/* ----- Main ----- */

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 20px;
  row-gap: 40px;
}

/* Hero */

.hero {
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.hero img {
  height: 280px;
}

.heroInfo {
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 50px;
}

.heroInfo h1 {
  width: 50%;
  font-size: 2.5rem;
  color: var(--prussian-blue);
}

.heroInfo span {
  display: block;
  font-style: italic;
  animation: floating 2s ease-in-out infinite;
  z-index: 0;
}

.heroInfo p {
  width: 70%;
  color: var(--celadon-blue);
  font-size: 1.5rem;
}

.buttonContainer button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid var(--prussian-blue);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.buttonContainer button:first-child {
  background-color: var(--prussian-blue);
  color: var(--honeydew);
}

.buttonContainer button:first-child:hover {
  background-color: var(--celadon-blue);
  border-color: var(--celadon-blue);
}

.buttonContainer button:nth-child(2) {
  background-color: var(--honeydew);
  color: var(--prussian-blue);
}

.buttonContainer button:nth-child(2):hover {
  background-color: var(--celadon-blue);
  border-color: var(--celadon-blue);
  color: var(--honeydew);
}

/* Locations */

.locations {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.locationHeaderContainer {
  width: 100%;
  display: flex;
  font-size: 1.2rem;
  color: var(--prussian-blue);
}

.locationsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
  gap: 32px;
  justify-content: center;
  align-items: flex-start;
}

.location {
  width: 395px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 24px;
  box-shadow: 0px 1px 6px 0px #0000001a;
  transition: box-shadow 1s;
}

.location:hover {
  box-shadow: 0px 1px 6px 0px #0000006a;
}

.locationImg {
  display: flex;
  width: 100%;
  border-radius: 24px;
  overflow: auto;
  max-height: 230px;
}

.locationImg img {
  width: 100%;
}

.locationInfo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.locationInfo p {
  display: block;
  font-weight: 500;
  font-size: 14px;
  color: var(--celadon-blue);
}

.locationInfo figure {
  display: flex;
  align-items: center;
}

.locationInfo figcaption {
  width: 50%;
  font-weight: 500;
  font-size: 14px;
  color: var(--celadon-blue);
  padding-left: 4px;
}

.locationInfo figure img {
  width: 18px;
  object-fit: contain;
  filter: invert(64%) sepia(51%) saturate(7021%) hue-rotate(329deg)
    brightness(98%) contrast(88%);
}

.locationDescription {
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  color: var(--dark);
  text-align: left;
  padding: 10px;
  padding-top: 0;
}

/* About Us */

.aboutUs {
  width: 100%;
}

.aboutUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
}

.aboutUsContainer h2 {
  font-size: 2rem;
  color: var(--celadon-blue);
}

.aboutUsContainer p {
  font-size: 20px;
  color: var(--prussian-blue);
  padding: 10px;
}

/* ----- Footer ----- */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px 20px;
}

footer img {
  max-width: 600px;
  width: 60%;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
  color: var(--celadon-blue);
}

.contact h3 {
  font-size: 2rem;
}

.contactEmail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
}

.contactEmail a {
  font-weight: 500;
  color: var(--celadon-blue);
}

.companyMedia {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  align-self: center;
}

.companyMedia img {
  width: 30px;
}

.companyMedia img:hover {
  animation: floating 2s ease-in-out infinite;
}

.contactEmail img,
.companyMedia img {
  filter: invert(41%) sepia(84%) saturate(312%) hue-rotate(160deg)
    brightness(89%) contrast(81%);
}

/* ----- Tablet ----- */

@media (max-width: 1024px) and (min-width: 768px) {
  .menu {
    display: none;
    z-index: 1;
    width: 100vw;
  }

  .listLinksMenu {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
  }

  .listLinksMenu li,
  .searchBar:hover {
    animation: unset;
  }

  .listLinksMenu a {
    text-decoration: none;
    color: var(--celadon-blue);
    font-weight: 500;
  }

  .listLinksMenu li:nth-child(5),
  .searchBar {
    opacity: 1;
  }

  .profileImg {
    position: static;
  }

  .blurProfileImg {
    display: none;
  }

  .searchBar {
    box-shadow: unset;
    justify-content: center;
  }

  .searchBar:hover,
  .searchBar:active,
  .searchBar:has(input:focus-visible) {
    box-shadow: unset;
  }

  .searchBar button {
    position: absolute;
    right: 29%;
  }

  .searchBar img {
    width: 30px;
  }

  .burgerMenu {
    display: flex;
    align-items: center;
    width: 30px;
  }

  .burgerMenu img {
    width: 100%;
  }

  #burgerMenu:checked ~ .menu {
    display: block;
    position: absolute;
    height: 400px;
    background: var(--honeydew);
    border-bottom: 1px solid var(--gray);
    top: 112px;
    left: 0;
    text-align: center;
    animation-name: fadingMenu;
    animation-duration: 0.33s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .profileImg {
    width: 50px;
  }
  .buttonContainer button {
    margin: 5px;
  }

  .location {
    width: 300px;
  }

  .locationImg {
    max-height: 200px;
  }

  .location img {
    object-fit: cover;
  }

  footer {
    flex-direction: column-reverse;
  }

  footer img {
    width: 100%;
  }

  .contact {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  .companyMedia {
    width: 100%;
    justify-content: center;
    gap: 50px;
  }

  .companyMedia img {
    width: 40px;
  }

  .companyMedia img:hover {
    animation: unset;
  }
}

/* ----- Mobile ----- */

@media (max-width: 767px) {
  .navbar {
    height: 4rem;
  }

  .navbar img {
    width: 50px;
  }

  .menu {
    display: none;
    z-index: 1;
    width: 100%;
  }

  .listLinksMenu {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    list-style: none;
    height: 100%;
    justify-content: space-evenly;
  }

  .listLinksMenu li {
    position: unset;
    animation: unset;
  }

  .listLinksMenu a {
    text-decoration: none;
    color: var(--celadon-blue);
    font-weight: 500;
  }

  .listLinksMenu li:nth-child(5),
  .searchBar {
    opacity: 1;
  }

  .profileImg {
    position: static;
  }

  .blurProfileImg {
    display: none;
  }

  .searchBar:hover,
  .searchBar:active,
  .searchBar:has(input:focus-visible) {
    box-shadow: unset;
  }

  .burgerMenu {
    display: flex;
    align-items: center;
    width: 30px;
  }

  .burgerMenu img {
    width: 100%;
  }

  #burgerMenu:checked ~ .menu {
    display: block;
    position: absolute;
    width: calc(100vw);
    height: 350px;
    background: var(--honeydew);
    border-bottom: 1px solid var(--gray);
    top: -400px;
    left: 0;
    text-align: center;
    animation-name: fallingMenu;
    animation-duration: 0.33s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .searchBar {
    box-shadow: unset;
    justify-content: center;
  }

  .searchBar button {
    position: absolute;
    right: 15%;
  }

  .searchBar img {
    width: 30px;
  }

  .hero {
    flex-direction: column;
    margin: 0;
    text-align: center;
    gap: 20px;
  }

  .heroInfo h1 {
    font-size: 2rem;
  }

  .heroInfo p {
    font-size: 1rem;
  }

  .heroInfo h1,
  .heroInfo p {
    width: 100%;
  }

  .locationHeaderContainer {
    justify-content: center;
  }

  .aboutUsContainer p {
    font-size: 1rem;
    padding: 0;
  }

  .aboutUsContainer img {
    width: 100px;
  }

  footer {
    flex-direction: column-reverse;
    padding: 50px 20px;
  }

  footer img {
    width: 100%;
  }

  .contact {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  .companyMedia {
    width: 100%;
    justify-content: space-around;
    gap: 0;
  }

  .companyMedia img {
    width: 30px;
  }
}
